# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
models/__pycache__/
*.pyc

# Data & Models
*.csv
*.npz
*.pt
*.pth
/results/
/plots/

# Logs / Diagnostics
*.log
diagnostic_out.txt
.history/

.venv/
env/
venv/
.env

/models/diffusion/testing/
